
.menu{
    display: flex;
}

.menu li{
    margin-left: 36px;
}

.menu a{
    color: #fff;
    font-size: 0.875rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 300ms;
}
.cart__num{
    background-color: #e95d2a;
    border-radius: 50%;
    padding: 1px 5px 2px 5px;
}
.menu a:hover{
    color: #75c4da;

}

.icons{
    color: #fff;
}

.icons__cart{
    font-size: 1.5rem;
}